@model IEnumerable<ShoppingCart.Models.Customer>

@{
    ViewBag.Title = "Index";
    var user = User.Identity.Name;
}

<h2>Index</h2>



    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Middle_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </th>
    
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Middle_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_Number)
        </td>
        <td>
            @if(!(user == "admin")){
               @Html.ActionLink("Edit", "Edit", new { id=item.UserName }) 
                <bdi> | </bdi>
                @Html.ActionLink("Delete", "Delete", new { id=item.UserName })
                <bdi> | </bdi>
            }
            
            @Html.ActionLink("Details", "Details", new { id = item.UserName })
            
        </td>
    </tr>
}

</table>
