@model ShoppingCart.Models.CartItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CartItem</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cart.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cart.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

    </dl>
</div>
<p>
  
    @Html.ActionLink("Back My Cart", "Details", "CartUser", new { id = Model.CartId }, null)
</p>
